@model ChampionViewModel
@{
	ViewBag.Title = "Champion Details";
}

<h1>@Model.Champion.Name Details</h1>

@if (Model.Champion.Builds != null && Model.Champion.Builds.Any())
{
	<h4>Builds</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Build Name</th>
				<th>Total Cost</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var build in Model.Champion.Builds)
			{
				<tr>
					<td>@build.Name</td>
					<td>@build.TotalCost</td>
				</tr>
			}
		</tbody>
	</table>
}