################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalProject/v2/FinalProject/FinalProject/appsettings.Development.json
