@model ItemViewModel
@{
	ViewBag.Title = "Item Details";
}

<h1>@Model.Item.Name Details</h1>

@if (Model.Item.BuildItems != null && Model.Item.BuildItems.Any())
{
	<h4>Builds</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Build Name</th>
				<th>Total Cost</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var buildItem in Model.Item.BuildItems)
			{
				<tr>
					<td>@buildItem.Build.Name</td>
					<td>@buildItem.Build.TotalCost</td>
				</tr>
			}
		</tbody>
	</table>
}