<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AppointmentScheduler</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AppointmentScheduler.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
			<div class="container">
				<a class="navbar-brand text-white" asp-area="Admin" asp-controller="Appointments" asp-action="Index">
					Admin Dashboard
				</a>
				<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to Site</a>
			</div>
		</nav>

		<div class="container mt-4">
			@RenderBody()
		</div>
	</header>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>