@model Dictionary<string, string>
@{
    ViewData["Title"] = "Contact Me";
}
@section PageHeader {
    <h1>Contact Me</h1>
}

@foreach(var item in Model)
{
    <div class="row border-bottom">
        <div class="col-2 ">@item.Key</div>
		<div class="col-10">@item.Value</div>
    </div>
}