@model IEnumerable<Destination>

@{
	ViewBag.Title = "Manage Destinations";
}

<h1>Manage Destinations</h1>

<div class="m-2">
	<a asp-action="Add" class="btn btn-secondary">Add Destination</a>
</div>

<form asp-action="Delete" method="post">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(Destination destination in Model)
			{
				<tr>
					<td>@destination.Name</td>
					<td>
						<button type="submit" name="id" value="@destination.DestinationId"
						class="btn btn-primary">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>