@{
    ViewData["Title"] = "Tutorial Page 3";
}
<h2>Tutorial - Page 3</h2>
<p>Here's the third thing you need to know about my website.</p>
<a class="btn btn-secondary"
   asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page2">Prev</a>