@model Addition
@{
	ViewBag.Title = "Addition Page";
}

<h1>Addition Page</h1>
<form method="post" asp-action="Index">
	<div>
		<label class="form-label" asp-for="NumberOne">Number One</label>
		<input class="form-control" asp-for="NumberOne" />
	</div>
	<div>
		<label class="form-label" asp-for="NumberTwo">Number Two</label>
		<input class="form-control" asp-for="NumberTwo" />
	</div>
	<div>
		<label class="form-label" asp-for="Sum">Sum</label>
		<input class="form-control" asp-for="Sum" readonly value="@Model.Sum"/>
	</div>
	<div>
		<button class="btn btn-primary" type="submit">Calculate Sum</button>
	</div>
</form>